<%- include('./partials/_header.ejs') -%> <%-
include('./partials/_navbar.ejs')-%>

<div class="container mx-auto my-4">
	<h2 class="font-semibold text-3xl py-2">Posts</h2>
	<div class="flex flex-wrap">
		<% data.posts.forEach(post => { %>

		<a href="/post/<%= post.slug %> ">
			<div class="p-4 w-52">
				<div class="">
					<img class="w-52" src="/uploads/<%= post.featured_image %> " alt="" />
				</div>
				<div class="">
					<h1><%= post.title %></h1>
				</div>
			</div>
		</a>

		<% }) %>
	</div>
</div>

<%- include('./partials/_footer.ejs')-%>
